<configuration>
    <!--    Appender and Logger configurations go here!   -->
    <appender name="myFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>
            cozyHomes.log
        </file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--            <fileNamePattern>cozyHomes-%d{yy-MM-dd_HH-mm-ss}.%i.log</fileNamePattern>-->
            <!--            <fileNamePattern>cozyHomes-%d{yy-MM-dd_HH-mm-ss}.%i.log</fileNamePattern>-->
            <fileNamePattern>cozyHomes-%d{yy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="myConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="myConsoleAppender" />
        <appender-ref ref="myFileAppender" />
    </root>

    <logger name="com.hisham.HomeCentre.controllers" level="ERROR" additivity="false">
        <appender-ref ref="myFileAppender" />
        <appender-ref ref="myConsoleAppender" />
    </logger>
    <logger name="com.hisham.HomeCentre.services" level="ERROR" additivity="false">
        <appender-ref ref="myFileAppender" />
        <appender-ref ref="myConsoleAppender" />
    </logger>
    <logger name="com.hisham.HomeCentre.repositories" level="ERROR" additivity="false">
        <appender-ref ref="myFileAppender" />
        <appender-ref ref="myConsoleAppender" />
    </logger>
</configuration>